<h1>Sign Up</h1>

<<<<<<< HEAD
<%= form_for @user do |f| %>
	
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</p>

	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>

	<p> 
		<%= f.submit %>
	</p>

<% end %>
=======
<%=form_for @user do |f| %>

<p>
	<%=f.label :name %>
	<%=f.text_field :name %>
</p>
<p>
	<%=f.label :email %>
	<%=f.email_field :email %>
</p>
<p>
	<%=f.label :password %>
	<%=f.password_field :password%>
</p>
<%=f.submit%>
<%end %>





>>>>>>> 6c08b564c1d1dcf7cabcee41309c04f257a510ff

