<h1>Home is On the House</h1>
<p>Find me in app/views/events/index.html.erb</p>

<ol>
	<%= render @events %>
</ol>

<%= form_tag(user_events_path, :method=>'post', :multipart => true) do %>

	<p>
		<%= text_field_tag :title, nil, placeholder: 'Title', class: "data" %>
	</p>

	<p>
		
		<%= text_field_tag :body, nil, placeholder: "Post", class: "data" %>
	</p>

	<p>
		
		<%= text_field_tag :incentive, nil, placeholder: "On The House", class: "data" %>
	</p>

	<p>
		<%= submit_tag 'Submit', class: "button" %>
	</p>	


<% end %>

