<!DOCTYPE html>
<html>
<head>
  <title>Free</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>
	
	<%= render 'shared/nav' %>

	<main>
		<%= yield %>
		<div class="wrapper">
			<p class="notice">
			<%= flash[:notice] if flash[:notice] %>
			<%= flash[:alert] if flash[:alert] %>
			</p>
		</div>
	</main>
</body>
</html>
